  <div style="padding: 20px;">
    <div style="position: absolute; top: 20px; left: 20px; display: flex; align-items: center; gap: 10px;">
      <mat-icon [inline]="true" style="color: white; font-size: 36px; height: 36px; width: 36px;">reorder</mat-icon>
      <h2 style="color: white; margin: 0;">
        <time datetime>{{currentTime | date:'HH:mm'}}</time>
      </h2>
  </div>
  
  <div style="text-align: center; margin-bottom: 50px;">
    <div style="border: 2px solid white; display: inline-block; padding: 10px 20px; border-radius: 5px;">
      <h1 style="color: white; font-size: 2.5em; font-family: JetBrains Mono; margin: 0;">
        Security Level
      </h1>
    </div>
  </div>

  <div style="display: flex; justify-content: center; align-items: center; gap: 100px;">
    <div style="border: 2px solid white; width: 584px; height: 377px;">
      <canvas id="myChart"></canvas>
    </div>

    <div style="border: 2px solid white; width: 584px; height: 377px;">
      <canvas id="temper"></canvas>
    </div>
  </div>
</div>
<div>
  <div style="display: flex; justify-content: center; align-items: center; gap: 190px;">
    <div style="display: flex; justify-content: center; align-items: center; gap: 300px;">
      <h1 style="color: white; font-family: JetBrains Mono; font-size: 28;">
        Início
      </h1>
      <h1 style="color: white; font-family: JetBrains Mono; font-size: 28;">
        P.M {{ horaInicio}}
      </h1>
    </div>
    <h1 style="color: white; font-family: JetBrains Mono; font-size: 28;">
      Duração de operação 
    </h1>
    <h1 style="color: white; font-family: JetBrains Mono; font-size: 28;">
      {{contador}}
    </h1>
  </div>
  <div>

  </div>
</div>